@import "tailwindcss";

body {
    background-color: #000;
    color: #fff;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.btn-primary {
    background-color: rgb(147 51 234);
    color: white;
}

.btn-primary:hover {
    background-color: rgb(126 34 206);
}

.btn-secondary {
    background-color: rgb(113 113 122);
    color: white;
}

.btn-secondary:hover {
    background-color: rgb(82 82 91);
}

.btn-danger {
    background-color: rgb(239 68 68);
    color: white;
}

.btn-danger:hover {
    background-color: rgb(220 38 38);
}

.input {
    border: 1px solid rgb(39 39 42);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    outline: none;
}

.input:focus {
    border-color: rgb(168 85 247);
}